<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>신고하기</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/header.css">
</head>
<style>
    .content.main {
        width: 90%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }

    .report_title {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

    .report_ser {
        font-size: 13px;
        margin: 25px 0px;
    }

    .report_detail_wrap {
        border-top: 1px solid #358bca;
        padding: 45px 45px 14px 45px;
    }

    .detail_title input[type='text'] {
        width: 78%;
        display: inline;
        border: none;
        font-size: 14px;
        height: 31px;
    }

    .radio_report {
        appearance: auto !important;
    }

    .radio_wrap {
        margin: 25px 0;
    }

    .radio_wrap label {
        width: 48%;
    }

    input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, button.fit, .button.fit {
        border-radius: 0px;
        width: 43%;

    }

    input[type="checkbox"] + label, input[type="radio"] + label {
        color: #3b3b3b;
        font-size: 14px;
    }

    input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
        background-color: rgba(35, 177, 236, 0.1);
        border-radius: 0px;
    }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header"></header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles">
                    <div style="width: 80%;margin: auto">
                        <div class="report_wrapper">
                            <!--                            <form method="post" action="/user/report">-->
                            <div class="report_title">
                                QueU 게시물 신고
                            </div>
                            <div class="report_ser">
                                게시물 신고는 QueU 이용수칙에 맞지 않는 글을 신고하는 기능이며, 반대 의견을 표시하는 것이 아닙니다.
                                회원님의 관심과 신고가 건전하고 올바른 QueU 문화를 만듭니다.
                                허위 신고의 경우 신고자가 제재받을 수 있음을 유념해 주세요.
                            </div>
                            <div class="report_detail_wrap" th:object="${report}">
                                <div class="detail_title">
                                              <span class="detail_title_ns"
                                                    style="font-weight: bold;">게시물 제목&nbsp; &nbsp;:</span>
                                    <span>
                                          <input type="text" th:value="*{qnaTitle}" name="" readonly>
                                      </span><!--게시물 제목 -->
                                    <br>
                                    <span class="detail_title_ns" style="font-weight: bold;">답변자&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  :</span>
                                    <span>

                                                  <div><input type="text" th:value="*{docName}" name="" readonly><input
                                                          type="text" th:value="(*{docMajor})" name="" readonly></div>
                                      </span><!--답글 작성자-->
                                </div>
                                <hr>
                                <div>
                                    <span style="font-weight: bold;">신고사유</span>
                                    <span style="margin-left: 20px;color: darkgray;font-size: 13px;">여러 사유에 해당하는 경우 대표적인 사유 1개를 선택해주세요</span>
                                </div>
                                <div class="radio_wrap">
                                    <input type="radio" id="report1" name="reportType" value="영리목적/홍보성"
                                           class="radio_report">
                                    <label for="report1">영리목적/홍보성</label>
                                    <input type="radio" id="report2" name="reportType" value="개인정보노출"
                                           class="radio_report">
                                    <label for="report2">개인정보노출</label>
                                    <input type="radio" id="report3" name="reportType" value="불법정보"
                                           class="radio_report">
                                    <label for="report3">불법정보</label>
                                    <input type="radio" id="report4" name="reportType" value="음란성/선정성"
                                           class="radio_report">
                                    <label for="report4">음란성/선정성</label>
                                    <input type="radio" id="report5" name="reportType" value="욕설/인신공격"
                                           class="radio_report">
                                    <label for="report5">욕설/인신공격</label>
                                    <input type="radio" id="report6" name="reportType" value="아이디/DB거래"
                                           class="radio_report">
                                    <label for="report6">아이디/DB거래</label>
                                    <input type="radio" id="report7" name="reportType" value="같은 내용 반복(도배)"
                                           class="radio_report">
                                    <label for="report7">같은 내용 반복(도배)</label>
                                    <input type="radio" id="report8" name="reportType" value="기타" class="radio_report">
                                    <label for="report8">기타</label>
                                </div>
                                <hr>
                                <div style="margin-bottom: 15px;font-weight: bold;">
                                    상세내용(선택)
                                </div>
                                <textarea name="reportContent" id="reportContent" cols="30" rows="4"
                                          style="resize: none"></textarea>
                                <input type="hidden" th:value="*{reQnaNo}" name="reQnaNo" id="reQnaNo">
                                <input type="hidden" th:value="*{docNo}" name="docNo" id="docNo">
                                <input type="hidden" th:value="${userNo}" name="userNo" id="userNo">
                            </div>
                            <div style="margin: 25px 0;text-align: center;font-size: 14px;">
                                권리 침해/저작권 위반 등은 권리침해 신고센터를 통해 문의해주세요.
                            </div>
                            <div style="text-align: center">
                                <a onclick="history.go(-1)" class="button" style="margin-bottom: 5px;box-shadow: none;font-size: 20px;">취소</a>
                                <input type="button" class="button" onclick="report()" value="신고하기" style="box-shadow: none;font-size: 20px">
                            </div>
                            <!--</form>-->

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer"></footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>
</body>
<script>

    function report() {
        let reQnaNo = document.getElementById("reQnaNo").value;
        let docNo = document.getElementById("docNo").value;
        let type;
        $(".radio_report").each(function (idx, item) {
            if ($(this).is(":checked")) {
                type = $(this).val();
            }
        })
        let reportContent = document.getElementById("reportContent").value;
        $.ajax({
            url: "/user/report",
            method: "post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                reQnaNo: reQnaNo,
                docNo: docNo,
                reportType: type,
                reportContent: reportContent
            }),
            success: function (result) {
                if (result == "성공") {
                    alert("신고성공");
                    history.go(-1);
                } else {
                    alert("이미 신고하셨습니다.");
                }
            }
        })
    }

</script>
</html>