<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/manage.css">
</head>
<style>
    body {
        padding-top: 0rem;
    }
    .box1 {
        margin-top: 20px;
        background-color: rgb(216, 230, 241);
        width: 400px;
        height: 890px;
        color: white;
        padding: 0;
    }
    table tbody tr:nth-child(2n + 1) {
        background-color: white;
    }

    .selectCurMovie{
        width: 145%;
    }



</style>
<body>
<div class="header">
    <div class="head">
        <div class="log">
            <ul>
                <li><a href=""> 로그아웃</a></li>
                <li><a href="/admin">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="nav">
    <div class="box1">
        <div class="admin">
            <div class="text" style="font-size: 15px;">
                관리자님<br>
                접속시간 : <span id="timeResult"></span>
                <br>
                <button onclick="location.href='${pageContext.request.contextPath }/user/Logout.me'">로그아웃</button>
            </div>
        </div>
        <div class="menu">
            <div class="text1">
                정보관리
            </div>
            <div class="menu1">
                <div class="manage" style="font-size: 15px;">
                    <ul>
                        <a href="/admin/adminUpdateUser"><li>일반회원관리</li></a>
                        <a href="/admin/adminUpdateDoc"><li>의사회원관리</li></a>
                    </ul>
                </div>
            </div><br>
            <div class="text1">
                정보등록<br>
            </div><br>
            <div class="menu2">
                <div class="manage" style="font-size: 15px;">
                    <ul>
                        <a href=""><li>스토어 등록</li></a>
                        <a href=""><li>이벤트 등록</li></a>
                        <a href=""><li>공지사항 등록</li></a>
                        <a href=""><li>시공사례 등록</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 910px; overflow: scroll;">
    <form method="post" action="/admin/updateDoc" name="frm">
        <br>
        <table id="table1" width="90%" class="selectCurMovie" >
            <tr height="100" >
                <td align="center" colspan="12">
                    <font size="7" color="gray"> <a href="#">전체 회원보기</a> </font>
                </td>
            </tr>
            <tr bgcolor="pink" style="font-size: 15px;">
                <td>회원번호</td>
                <td>아이디</td>
                <td>비밀번호</td>
                <td>이름</td>
                <td>전공</td>
                <td>전화번호</td>
                <td>이메일</td>
                <td>병원이름</td>
                <td>병원 전화번호</td>
                <td>결제상태</td>
                <td>봉사횟수</td>
                <td>추천수</td>
                <td style="width: 100px;">상태</td>
                <td>변경</td>
            </tr>
            <th:block th:each="doc:${doc}" th:object="${doc}">
                <tr style="font-size: 15px;">
                    <td th:text="*{docNo}"></td>			<!-- 회원번호 -->
                    <td th:text="*{docId}"></td>		    <!-- 아이디 -->
                    <td th:text="*{docPw}"></td>		    <!-- 비밀번호 -->
                    <td th:text="*{docName}"></td>		    <!-- 이름 -->
                    <td th:text="*{docMajor}"></td>		    <!-- 전공 -->
                    <td th:text="*{docPhoneNum}"></td>		<!-- 전화번호 -->
                    <td th:text="*{docEmail}"></td>		    <!-- 이메일 -->
                    <td th:text="*{docHospitalName}"></td>  <!-- 병원이름 -->
                    <td th:text="*{docHosPhone}"></td>      <!-- 병원전화번호 -->
                    <td th:text="*{docPayStatus}"></td>     <!-- 결제상태 -->
                    <td th:text="*{docServiceCnt}"></td>    <!-- 봉사횟수 -->
                    <td th:text="*{docLikeCnt}"></td>       <!-- 추천수 -->
                    <td><input type="text" th:value="*{docStatus}" name="userStatus" th:id="'us' + *{docNo}"></td>		<!-- 상태 -->
                    <td><input type="hidden" th:value="*{docNo}" name="userNo" >
                        <input type="button" value="변경하기" th:onclick="|javascript:updateForm(*{docNo})|"></td>
                </tr>
            </th:block>
            <tr height="18px" style="font-size: 15px;">
                <td colspan="12"></td>
                <td>총 회원수</td><td th:text="|${totalDoc} 명|"></td>
            </tr>
        </table>
    </form>
</div>
</body>
<script>
    let d = new Date();

    let currentDate = d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일";
    let currentTime = d.getHours() + "시 " + d.getMinutes() + "분 "/* + d.getSeconds() + "초"*/;
    let result = document.getElementById("timeResult");
    result.innerHTML = currentDate + "  " + currentTime;

    function updateForm(docNo){
        let form = document.frm;
        let us = document.getElementById('us' + docNo).value;
        location.href="updateDoc?docNo="+docNo+"&&docStatus="+us;
    }
</script>
</html>