<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/manage.css">
</head>
<style>
    body {
        padding-top: 0rem;
    }
    .box1 {
        background-color: rgb(216, 230, 241);
        width: 400px;
        height: 87vh;
        color: white;
        padding: 0;
    }
    table tbody tr:nth-child(2n + 1) {
        background-color: white;
    }
</style>
<body>
<div class="header">
    <div class="head">
        <div class="log">
            <ul>
                <li><a href=""> 로그아웃</a></li>
                <li><a href="/admin">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="nav">
    <div class="box1">
        <div class="admin">
            <div class="text" style="font-size: 15px;">
                관리자님<br>
                접속시간 : <span id="timeResult"></span>
                <br>
                <button onclick="location.href='${pageContext.request.contextPath }/user/Logout.me'">로그아웃</button>
            </div>

        </div>
        <div class="menu">
            <div class="text1">
                정보관리
            </div>
            <div class="menu1" style="height: 165px;">
                <div class="manage" style="font-size: 15px;">
                    <ul>
                        <ul>
                            <a href="/admin/adminUpdateUser"><li>일반회원 관리</li></a>
                            <a href="/admin/adminUpdateDoc"><li>의사회원 관리</li></a>
                            <a href=""><li>신고 관리</li></a>
                        </ul>
                    </ul>
                </div>
            </div>
            <br>
            <div class="text1">
                정보등록<br>
            </div>
            <br>
            <div class="menu2" style="height: 165px;">
                <div class="manage" style="font-size: 15px;">
                    <ul>
                        <ul>
                            <a href=""><li>공지사항 등록</li></a>
                            <a href=""><li>봉사공고 등록</li></a>
                            <a href=""><li>의학상식 등록</li></a>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 87vh; overflow: auto;">


    <div class="container" style="text-align: center;margin-top: 3%;">
        <div class="movieInsert">
            <h2>공지사항 등록</h2>
            <form enctype="multipart/form-data" method="post" action="${pageContext.request.contextPath }/manage/ManageInsertNoticeOk.mn">
                <table border="1" width="700">
                    <tr>
                        <td>제목</td>
                        <td><input type="text" name="notice_title"></td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td><textarea rows="20" cols="60" name="notice_content"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" width="100px"><input type="submit" value="등록" ></td>
                </table>
            </form>
        </div>
    </div>
    <div style="clear: both;"></div>


</div>
</body>
<script>
    let d = new Date();
    let currentDate = d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일";
    let currentTime = d.getHours() + "시 " + d.getMinutes() + "분 "/* + d.getSeconds() + "초"*/;
    let result = document.getElementById("timeResult");
    result.innerHTML = currentDate + "  " + currentTime;

</script>
</html>