<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/manage.css">
</head>
<style>
    body {
        padding-top: 0rem;
    }
    .box1 {
        background-color: rgb(216, 230, 241);
        width: 400px;
        height: 87vh;
        color: white;
        padding: 0;
    }
    table tbody tr:nth-child(2n + 1) {
        background-color: white;
    }
</style>
<body>
<div class="header">
    <div class="head">
        <div class="log">
            <ul>
                <li><a href=""> 로그아웃</a></li>
                <li><a href="/admin">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="nav">
    <div class="box1">
        <div class="admin">
            <div class="text" style="font-size: 15px;">
                관리자님<br>
                접속시간 : <span id="timeResult"></span>
                <br>
                <button onclick="location.href='${pageContext.request.contextPath }/user/Logout.me'">로그아웃</button>
            </div>
        </div>
        <div class="menu">
            <div class="text1">
                정보관리
            </div>
            <div class="menu1" style="height: 165px;">
                <div class="manage" style="font-size: 15px;">
                    <ul>
                        <ul>
                            <a href="/admin/adminUpdateUser"><li>일반회원 관리</li></a>
                            <a href="/admin/adminUpdateDoc"><li>의사회원 관리</li></a>
                            <a href=""><li>신고 관리</li></a>
                        </ul>
                    </ul>
                </div>
            </div><br>
            <div class="text1">
                정보등록<br>
            </div><br>
            <div class="menu2" style="height: 165px;">
                <div class="manage" style="font-size: 15px;">
                    <ul>
                        <ul>
                            <a href="/admin/adminNotice"><li>공지사항 등록</li></a>
                            <a href=""><li>봉사공고 등록</li></a>
                            <a href=""><li>의학상식 등록</li></a>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 87vh; overflow: auto;">
    <form method="post" action="/admin/updateUser" name="frm">
        <br>
        <table class="selectCurMovie" >
            <tr height="100" >
                <td align="center" colspan="9">
                    <font size="7" color="gray"> <a href="#">전체 회원보기</a> </font>
                </td>
            </tr>
            <tr bgcolor="pink" style="font-size: 15px;">
                <td>회원번호</td><td>아이디</td><td>비밀번호</td><td>이름</td><td>전화번호</td><td>이메일</td><td style="width: 100px;">상태</td><td>변경</td>
            </tr>
            <th:block th:each="user:${user}" th:object="${user}">
                <tr style="font-size: 15px;">
                    <td th:text="*{userNo}"></td>			<!-- 회원번호 -->
                    <td th:text="*{userId}"></td>		<!-- 아이디 -->
                    <td th:text="*{userPw}"></td>		<!-- 비밀번호 -->
                    <td th:text="*{userName}"></td>		<!-- 이름 -->
                    <td th:text="*{userPhoneNum}"></td>		<!-- 전화번호 -->
                    <td th:text="*{userEmail}"></td>		<!-- 이메일 -->
                    <td><input type="text" th:value="*{userStatus}" name="userStatus" th:id="'us' + *{userNo}"></td>		<!-- 상태 -->
                    <td><input type="hidden" th:value="*{userNo}" name="userNo" >
                        <input type="button" value="변경하기" th:onclick="|javascript:updateForm(*{userNo})|"></td>
                </tr>
            </th:block>
            <tr height="18px" style="font-size: 15px;">
                <td colspan="6"></td>
                <td>총 회원수</td><td th:text="|${totalUser} 명|"></td>
            </tr>
        </table>
    </form>
</div>
</body>
<script>
    let d = new Date();

    let currentDate = d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일";
    let currentTime = d.getHours() + "시 " + d.getMinutes() + "분 "/* + d.getSeconds() + "초"*/;
    let result = document.getElementById("timeResult");
    result.innerHTML = currentDate + "  " + currentTime;

    function updateForm(userNo){
        let form = document.frm;
        let us = document.getElementById('us' + userNo).value;
        location.href="updateUser?userNo="+userNo+"&&userStatus="+us;
    }
</script>
</html>