<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.test.model.volunteer.vo.VolunteerBoardVO" alias="VolunteerBoardVO"/>
        <typeAlias type="com.example.test.model.volunteer.vo.ApplicantsVO" alias="ApplicantsVO"/>
        <typeAlias type="com.example.test.model.user.vo.UserVO" alias="UserVO"/>
        <typeAlias type="com.example.test.model.user.vo.DocVO" alias="DocVO"/>
        <typeAlias type="com.example.test.model.user.vo.DocAttachFileVO" alias="DocAttachFileVO"/>
        <typeAlias type="com.example.test.model.user.vo.DocHosAttachFileVO" alias="DocHosAttachFileVO"/>
        <typeAlias type="com.example.test.model.notice.vo.NoticeVO" alias="NoticeVO"/>
    </typeAliases>
</configuration>