<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.test.model.volunteer.vo.VolunteerBoardVO" alias="VolunteerBoardVO"/>
        <typeAlias type="com.example.test.model.volunteer.vo.ApplicantsVO" alias="ApplicantsVO"/>
        <typeAlias type="com.example.test.model.volunteer.vo.VolAttachFileVO" alias="VolAttachFileVO"/>
        <typeAlias type="com.example.test.model.user.vo.UserVO" alias="UserVO"/>
        <typeAlias type="com.example.test.model.user.vo.DocVO" alias="DocVO"/>
        <typeAlias type="com.example.test.model.payment.vo.PayVO" alias="PayVO"/>
        <typeAlias type="com.example.test.model.user.vo.DocAttachFileVO" alias="DocAttachFileVO"/>
        <typeAlias type="com.example.test.model.user.vo.DocHosAttachFileVO" alias="DocHosAttachFileVO"/>
        <typeAlias type="com.example.test.model.notice.vo.NoticeVO" alias="NoticeVO"/>
        <typeAlias type="com.example.test.model.payment.vo.PayVO" alias="payVO"/>
        <typeAlias type="com.example.test.model.mainBoard.vo.AttachFileVO" alias="attachFileVO"/>
        <typeAlias type="com.example.test.model.mainBoard.vo.BoardVO" alias="boardVO"/>
        <typeAlias type="com.example.test.model.vo.ReplyVO" alias="replyVO"/>
        <typeAlias type="com.example.test.model.appointment.vo.ReserveVO" alias="reserveVO"/>
        <typeAlias type="com.example.test.model.appointment.vo.AppointmentVO" alias="appointmentVO"/>
        <typeAlias type="com.example.test.model.myPage.vo.VolunteerContentVO" alias="volunteerContentVO"/>
        <typeAlias type="com.example.test.model.mainBoard.vo.AnswerVO" alias="answerVO"/>
    </typeAliases>
</configuration>