<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="inner">
    <section>
        <p style="text-align: center; font-weight: bold;">
            <a style="border-bottom: none;" href="#">이용안내</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="border-bottom: none;" href="#">공지사항</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="border-bottom: none;" href="#">이용약관</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="border-bottom: none;" href="#">개인정보취급방침</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="border-bottom: none;" href="#">위치기반이용약관</a>
        </p>
        <p style="text-align: center; margin-bottom: 1%;">
            사업자번호&nbsp;&nbsp;210&nbsp;<span>-</span>10&nbsp;<span>-</span>212020&nbsp;&nbsp;&nbsp;&nbsp; <span><strong>|</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;
            서울특별시&nbsp;강남구&nbsp;역삼동&nbsp;125, &nbsp;20층&nbsp;2001호&nbsp;(역삼1동)
        </p>
        <p style="text-align: center;">
            헬로닥터 주식회사, 임재훈 대표&nbsp;&nbsp; <span><strong>/</strong></span>&nbsp;&nbsp;
            개인정보보호책임자 김동진 이사
        </p>
    </section>
</div>
<div class="copyright" style="color: #7a7a7a !important; margin-top: 1rem;">
    <!--<p>Copyright &nbsp; &copy; &nbsp; Hello Doctor. &nbsp;&nbsp; All rights reserved</p>-->
    <p>Copyright &copy; HelloDoctor Corp. All rights reserved.</p>
</div>
</body>
</html>