<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/css/header.css">
<body>
<!-- Logo -->
<div class="logo">
    <a href="index"><strong>Hello</strong> <span class="extra">Doctor</span></a>
</div>
<!-- Nav -->
<nav id="nav">
    <ul>
        <li>
            <a href="#" class="icon solid fa-angle-down">메뉴</a>
            <ul class="headerBar">
                <li>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/note.png" alt="" class="categoryImg">지식 iN</a>
                    <a href="#" class="headerCategory"><img src="/static/img/location.png" alt="" class="categoryImg">병원 찾기</a>
                </li>
                <li>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/megaphone.png" alt="" class="categoryImg">이용안내</a>
                    <a href="#" class="headerCategory"><img src="/static/img/electricity.png" alt="" class="categoryImg">의학상식</a>
                </li>
                <li>
                    <!--<a href="#" class="headerCategory" style="float: left;"><img src="/img/membership.png" alt="" class="categoryImg">멤버십</a>-->
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/volunteer.png" alt="" class="categoryImg">의료봉사</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon solid fa-angle-down">카테고리</a>
            <ul class="headerBar">
                <li>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/joints.png" alt="" class="categoryImg">정형외과</a>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/diamond.png" alt="" class="categoryImg">성형외과</a>
                    <a href="#" class="headerCategory"><img src="/static/img/lungs.png" alt="" class="categoryImg">내과</a>
                </li>
                <li>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/family_clinic.png" alt="" class="categoryImg">가정의학과</a>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/teen.png" alt="" class="categoryImg">소아과</a>
                    <a href="#" class="headerCategory"><img src="/static/img/pore.png" alt="" class="categoryImg">피부과</a>
                </li>
                <li>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/cognition.png" alt="" class="categoryImg">신경과</a>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/kidneys.png" alt="" class="categoryImg">비뇨의학과</a>
                    <a href="#" class="headerCategory"><img src="/static/img/ear.png" alt="" class="categoryImg">이비인후과</a>
                </li>
                <li>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/medicine.png" alt="" class="categoryImg">한방의학과</a>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/pregnant.png" alt="" class="categoryImg">산부인과</a>
                    <a href="#" class="headerCategory"><img src="/static/img/tooth.png" alt="" class="categoryImg">치과</a>
                </li>
                <li>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/neurology.png" alt="" class="categoryImg">신경외과</a>
                    <a href="#" class="headerCategory" style="float: left;"><img src="/static/img/ambulance.png" alt="" class="categoryImg">응급의학과</a>
                </li>
            </ul>
        </li>
        <li><a href="#">로그인</a></li>
    </ul>
</nav>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.dropotron.min.js"></script>
<script src="/static/js/jquery.selectorr.min.js"></script>
<script src="/static/js/jquery.scrollex.min.js"></script>
<script src="/static/js/jquery.scrolly.min.js"></script>
<script src="/static/js/browser.min.js"></script>
<script src="/static/js/breakpoints.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>