<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.AnswerMapper">
    <insert id="insert">
        INSERT INTO TABLE_QNA_REPLY (reQnaNo, qnaNo, docNo, reQnaContent)
        VALUES (SEQ_QNA_REPLY.NEXTVAL, #{qnaNo}, #{docNo}, #{reQnaContent})
    </insert>
    <select id="answerList" resultType="answerVO">
        SELECT DOCNAME, DOCMAJOR, DOCADDRESS, REQNACONTENT, REQNADATE FROM
        (
        SELECT r.DOCNO, r.QNANO, DOCNAME, DOCMAJOR, DOCADDRESS, REQNACONTENT, REQNADATE FROM TABLE_DOC d, TABLE_QNA_REPLY r
        WHERE r.DOCNO = d.DOCNO
        )
        WHERE QNANO = #{qnaNo}
    </select>
</mapper>