<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.AnswerMapper">
    <insert id="insert">
        INSERT INTO TABLE_QNA_REPLY (reQnaNo, qnaNo, docNo, reQnaContent)
        VALUES (SEQ_QNA_REPLY.NEXTVAL, #{qnaNo}, #{docNo}, #{reQnaContent})
    </insert>
    <select id="answerList" resultType="answerVO">
         SELECT REQNANO,DOCNO,QNANO,DOCNAME, DOCMAJOR, DOCADDRESS, REQNACONTENT, REQNADATE, FILENAME,UUID,UPLOADPATH,QNATITLE FROM
        (
        SELECT r.reQnaNO, r.DOCNO, r.QNANO, DOCNAME, DOCMAJOR, DOCADDRESS, REQNACONTENT, REQNADATE, a.FILENAME,a.UUID,a.UPLOADPATH ,q.QNATITLE
        FROM TABLE_DOC d, TABLE_QNA_REPLY r,TABLE_DOC_ATTACH a, TABLE_QNA q
        WHERE r.DOCNO = d.DOCNO AND r.DOCNO=a.DOCNO AND r.QNANO=q.QNANO ORDER BY r.QNANO desc
        )
        WHERE QNANO = #{qnaNo}
    </select>

    <delete id="delete">
        DELETE FROM TABLE_QNA_REPLY WHERE REQNANO=${reQnaNo}
    </delete>
</mapper>