<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mappers.AttachFileMapper">
    <insert id="insert">
        INSERT INTO TABLE_QNA (UUID, UPLOADPATH, FILENAME, IMAGE, qnaNo)
        VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{image}, #{bno})
    </insert>

    <delete id="delete">
        DELETE FROM TABLE_QNA WHERE UUID = #{uuid}
    </delete>

    <select id="findByBno" resultType="attachFileVO">
        SELECT UUID, UPLOADPATH, FILENAME, IMAGE, qnaNo
        FROM TABLE_QNA
        WHERE qnaNo = #{qnaNo}
    </select>

</mapper>