<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.DocAttachFileMapper">
    <insert id="insert">
        INSERT INTO TABLE_DOC_ATTACH
        (
        UUID, UPLOADPATH, FILENAME, IMAGE, DOCNO
        )
        VALUES(
        #{uuid}, #{uploadPath}, #{fileName}, #{image}, #{docNo}
        )
    </insert>
    <delete id="delete">
        DELETE FROM TABLE_DOC_ATTACH WHERE UUID = #{uuid}
    </delete>

    <select id="findByBno" resultType="DocAttachFileVO">
        SELECT UUID, UPLOADPATH, FILENAME, IMAGE, DOCNO
        FROM TABLE_DOC_ATTACH
        WHERE DOCNO = #{docNo}
    </select>
</mapper>

