<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.DocMapper">
    <insert id="DocSignUp">
      INSERT INTO TABLE_DOC
    (
    docNo, docId, docPw, docName, docMajor, docHospitalName, docHosPhone, docHistory, docLat, docLng, docAddress, docEmail,
    docPhoneNum
    )
    VALUES(
    SEQ_USER.NEXTVAL, #{docId}, #{docPw}, #{docName}, #{docMajor}, #{docHospitalName}, #{docHosPhone},#{docHistory}, #{docLat},
    #{docLng}, #{docAddress}, #{docEmail}, #{docPhoneNum}
    )
   </insert>
    <insert id="insertSelectKey_bno">
        /*태그 안에서는 이와 같은 주석으로 사용해야 한다.*/
        /*게시글 등록 전 다음 시퀀스를 가져와서 insertSelectKey_bno메소드의 매개변수로 매핑후 전달한다.*/
        <selectKey keyProperty="docNo" order="BEFORE" resultType="long">
            SELECT SEQ_DOC.NEXTVAL FROM DUAL
        </selectKey>
        /*위에서 전달받은 bno를 사용한다.*/
        INSERT INTO TABLE_DOC (docNo, docId, docPw, docName, docMajor, docHospitalName, docHosPhone, docHistory, docLat, docLng, docAddress, docEmail,
        docPhoneNum)
        VALUES(#{docNo} ,#{docId}, #{docPw}, #{docName}, #{docMajor}, #{docHospitalName}, #{docHosPhone}, #{docHistory}, #{docLat},
        #{docLng}, #{docAddress}, #{docEmail}, #{docPhoneNum})
    </insert>

    <select id="docLogin" resultType="DocVO">
        SELECT * FROM TABLE_DOC WHERE DOCID = #{docId} AND DOCPW =#{docPw}
    </select>

    <select id="checkId" resultType="_int">
        SELECT COUNT(DOCID) FROM TABLE_DOC WHERE DOCID=#{docId}
    </select>

    <select id="findId" resultType="DocVO">
        SELECT * FROM TABLE_DOC WHERE DOCNAME= #{docName} AND DOCPHONENUM= #{docPhoneNum}
    </select>

    <select id="findPw" resultType="DocVO">
        SELECT * FROM TABLE_DOC WHERE DOCID= #{docId} AND DOCNAME= #{docName} AND DOCPHONENUM= #{docPhoneNum}
    </select>

    <update id="updatePassword">
        UPDATE TABLE_DOC SET DOCPW=#{docPw} WHERE DOCID=#{docId} AND DOCPHONENUM =#{docPhoneNum}
    </update>

    <!-- 좋아요(닥터테이블 카운트 누적) -->
    <update id="like1">
        UPDATE TABLE_DOC SET DOCLIKECNT=DOCLIKECNT+1 WHERE docNo = #{docNo}
    </update>
    <!-- 검사하기 위한 like테이블에 추가 -->
    <insert id="like2">
        INSERT INTO TABLE_LIKE VALUES (SEQ_LIKE.NEXTVAL, #{reQnaNo}, #{docNo}, #{userNo})
    </insert>
    <!-- 검사 -->
    <select id="getlike" resultType="int">
        SELECT COUNT(likeNo) FROM TABLE_LIKE WHERE docNo = #{docNo} AND  userNo = #{userNo} AND reQnaNo = #{reQnaNo}
    </select>




    <!-- 신고하기 페이지 뿌려주기 -->
    <select id="viewReport" resultType="answerVO">
        SELECT REQNANO,DOCNO,QNANO,DOCNAME, DOCMAJOR, DOCADDRESS, REQNACONTENT, REQNADATE, FILENAME,QNATITLE FROM
        (
        SELECT r.reQnaNo, r.DOCNO, r.QNANO, DOCNAME, DOCMAJOR, DOCADDRESS, REQNACONTENT, REQNADATE, a.FILENAME, q.QNATITLE
        FROM TABLE_DOC d, TABLE_QNA_REPLY r,TABLE_DOC_ATTACH a, TABLE_QNA q
        WHERE r.DOCNO = d.DOCNO AND r.DOCNO=a.DOCNO AND r.QNANO=q.QNANO ORDER BY r.QNANO desc
        )
        WHERE reQnaNo = #{reQnaNo}
    </select>
    <!-- 신고하기 누적 -->
    <update id="report1">
        UPDATE TABLE_DOC SET DOCREPORTCNT=DOCREPORTCNT+1 WHERE docNo = #{docNo}
    </update>
    <!-- 검사를 위한 report테이블에 추가-->
    <insert id="report2">
        INSERT INTO TABLE_REPORT VALUES (SEQ_REPORT.NEXTVAL, #{reQnaNo}, #{docNo}, #{userNo}, #{reportType}, #{reportContent})
    </insert>
    <!-- 검사 -->
    <select id="getReport" resultType="int">
        SELECT COUNT(reportNo) FROM TABLE_REPORT WHERE docNo = #{docNo} AND  userNo = #{userNo} AND reQnaNo = #{reQnaNo}
    </select>


</mapper>
