<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.MyPageMapper">
	<select id="viewUser" resultType="UserVO">
		SELECT USERID, USERNAME, USERPHONENUM, USEREMAIL
		FROM TABLE_USER WHERE USERNO = #{userNo}
	</select>

	<select id="viewDoc" resultType="DocVO">
		SELECT DOCID, DOCNAME,DOCMAJOR, DOCHOSPITALNAME, DOCHOSPHONE, DOCHISTORY, DOCLAT, DOCLNG,
		DOCADDRESS, DOCEMAIL, DOCPHONENUM, DOCSTATUS, DOCPAYSTATUS, DOCSERVICECNT, DOCREPORTCNT, DOCLIKECNT
		FROM TABLE_DOC WHERE DOCNO = #{docNo}
	</select>

	<update id="updateUser">
   	    UPDATE TABLE_USER SET
   	    USERPW = #{userPw}, USERPHONENUM = #{userPhoneNum}, USEREMAIL = #{userEmail}
   	    WHERE USERNO = #{userNo}
    </update>

	<update id="updateDoc">
		UPDATE TABLE_DOC SET
		DOCPW  = #{docPw}, DOCHOSPITALNAME = #{docHospitalName}, DOCHOSPHONE = #{docHosPhone},
		DOCHISTORY = #{docHistory}, DOCLAT = #{docLat}, DOCLNG = #{docLng}, DOCADDRESS = #{docAddress},
		DOCEMAIL = #{docEmail}, DOCPHONENUM = #{docPhoneNum}
		WHERE DOCNO = #{docNo}
	</update>

	<delete id="deleteUser">
        DELETE FROM TABLE_USER WHERE USERNO = #{userNo}
    </delete>

	<delete id="deleteDoc">
		DELETE FROM TABLE_DOC WHERE DOCNO = #{docNo}
	</delete>

	<select id="getVolList" resultType="ApplicantsVO">
        SELECT * FROM TABLE_APPLICANTS A, TABLE_VOLUNTEER_BOARD B WHERE A.volunteerBoardNo = B.volunteerBoardNo AND A.DOCNO = ${docNo}
    </select>

	<select id="getAppList" resultType="appointmentVO">
		SELECT * FROM TABLE_USER C, TABLE_DOC A, TABLE_RESERVE B WHERE A.DOCNO = B.DOCNO AND A.DOCNO = ${docNo} AND C.USERNO = B.USERNO
	</select>

	<select id="getResList" resultType="appointmentVO">
		SELECT * FROM TABLE_USER C, TABLE_DOC A, TABLE_RESERVE B WHERE C.USERNO = B.USERNO AND C.USERNO = ${userNo} AND B.DOCNO = A.DOCNO
	</select>

	<select id="getAppContent" resultType="ApplicantsVO">
		SELECT * FROM TABLE_VOLUNTEER_BOARD C, TABLE_APPLICANTS B, TABLE_DOC A
		WHERE A.DOCNO = B.DOCNO AND A.DOCNO = ${docNo} AND C.VOLUNTEERBOARDNO = B.VOLUNTEERBOARDNO
	</select>

</mapper>