<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.MyPageMapper">
    <update id="updateUser">
   	    UPDATE TABLE_USER SET
   	    USERNO = #{userNo}, USERID = #{userId}, USERPW = #{userPw}, USERNAME = #{userName},
   	    USERPHONENUM = #{userPhoneNum}, USEREMAIL = #{userEmail}, USERSTATUS = #{userStatus}
   	    WHERE USERNO = #{userNo}
    </update>

</mapper>