<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.NoticeMapper">
    <select id="getList" resultType="NoticeVO">
        <![CDATA[
        SELECT NOTICENO, USERNO, NOTICETITLE, NOTICECONTENT, NOTICEDATE, NOTICEVIEWS
        FROM
        (
            SELECT
            ROWNUM R, NOTICENO, USERNO, NOTICETITLE, NOTICECONTENT, NOTICEDATE, NOTICEVIEWS
            FROM TABLE_NOTICE
            WHERE
        ]]>
        <![CDATA[
        ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE R > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="get" resultType="NoticeVO">
        SELECT NOTICENO, USERNO, NOTICETITLE, NOTICECONTENT, NOTICEDATE, NOTICEVIEWS
        FROM TABLE_NOTICE WHERE NOTICENO = #{noticeNo}
    </select>

    <select id="getTotal" resultType="_int">
    SELECT COUNT(NOTICENO) FROM TABLE_NOTICE
    </select>

    <update id="updateViews">
		UPDATE TABLE_NOTICE
		SET NOTICEVIEWS = NOTICEVIEWS + 1
		WHERE NOTICENO = #{noticeNo}
	</update>
</mapper>