<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.PayMapper">

    <insert id="insertCustomer">
        INSERT INTO TABLE_PAYMENT
        (PAYNO, DOCNO, AMOUNT, CARD_NUMBER, EXPIRY, BIRTH, PWD_2DIGIT, CUSTOMER_UID, "NAME")
        VALUES(SEQ_PAYMENT.NEXTVAL, #{docNo}, 0, '', '', '', '', '', '')
    </insert>

    <update id="updateCustomer">
        UPDATE TABLE_PAYMENT
        SET CARD_NUMBER = #{card_number}, EXPIRY = #{expiry}, BIRTH = #{birth}, PWD_2DIGIT = #{pwd_2digit}, CUSTOMER_UID = #{customer_uid}
        WHERE DOCNO = #{docNo}
    </update>

    <update id="pay">
        UPDATE TABLE_PAYMENT
        SET PAYSTATUS = #{payStatus}, AMOUNT = #{amount}, PAYDATE = SYSDATE, "NAME" = #{name}
        WHERE DOCNO = #{docNo}
    </update>

    <select id="getPayList" resultMap="result">
        SELECT PAYNO, DOCNO, PAYSTATUS, AMOUNT, PAYDATE, CARD_NUMBER, EXPIRY, BIRTH, PWD_2DIGIT, CUSTOMER_UID, "NAME"
        FROM TABLE_PAYMENT
        WHERE DOCNO = #{docNo}
    </select>

    <insert id="cancelPay">
        INSERT INTO TABLE_PAYMENT_CANCEL
        (CANCELNO, DOCNO, CANCELREASON)
        VALUES(SEQ_PAYMENT_CANCEL.NEXTVAL, #{docNo}, #{cancelReason});
    </insert>

    <resultMap type="payVO" id="result">
        <result property="payNo" column="PAYNO"/>
        <result property="docNo" column="DOCNO"/>
        <result property="amount" column="AMOUNT"/>
        <result property="card_number" column="CARD_NUMBER"/>
        <result property="expiry" column="EXPIRY"/>
        <result property="birth" column="BIRTH"/>
        <result property="pwd_2digit" column="PWD_2DIGIT"/>
        <result property="customer_uid" column="CUSTOMER_UID"/>
        <result property="name" column="NAME"/>
    </resultMap>

</mapper>