<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mappers.PayMapper">

    <insert id="insertCustomer">
        INSERT INTO TABLE_PAYMENT
        (PAYNO, DOCNO, AMOUNT, CARD_NUMBER, EXPIRY, BIRTH, PWD_2DIGIT, CUSTOMER_UID, "NAME")
        VALUES(SEQ_PAYMENT.NEXTVAL, #{docNo}, 0, '', '', '', '', '', '')
    </insert>

    <update id="updateCustomer">
        UPDATE TABLE_PAYMENT
        SET CARD_NUMBER = #{card_number}, EXPIRY = #{expiry}, BIRTH = #{birth}, PWD_2DIGIT = #{pwd_2digit}, CUSTOMER_UID = #{customer_uid}
        WHERE DOCNO = #{docNo}
    </update>

    <update id="pay">
        UPDATE TABLE_PAYMENT
        SET PAYSTATUS = 1, AMOUNT = #{amount}, PAYDATE = SYSDATE, "NAME" = #{name}
        WHERE DOCNO = #{docNo}
    </update>

</mapper>