<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호찾기</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<style>
    .content.main {
        width: 50%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }

    input{
         border-radius: 0 !important;
     }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
    </header>


    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
              <div>비밀번호가 성공적으로 변경되었습니다.<br>로그인후 이용해주세요.
              </div>
                <button id="goDocLogin" style="margin-left: 70%;border-radius: 0;">로그인하러가기</button>
            </div>
        </div>
    </section>
                <!-- Footer -->
                <footer id="footer"></footer>

</div>

            <!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>
<script>
    $("#goDocLogin").on("click", function () {
        location.href = "/user/docLogin";
    })

         alert("비밀번호가 변경되었습니다.");
         self.close();
 </script>
</body>
</html>