<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, doc-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<style>
    .content.main {
        width: 50%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }

    input {
        border-radius: 0 !important;
    }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles">
                    <form method="post" action="">
                        <div class="row gtr-uniform">
                            <div class="col-12" style="text-align: center;">
                                <h4>비밀번호 찾기</h4>
                            </div>
                            <!--coolSms-->
                            <label>이름</label>
                            <input type="text" name="docName" id="docName" style="width: 97%;margin-left: 5%;">
                            <label style="margin-bottom: -1%;margin-top: -1%;">전화번호</label>
                            <label style="display: inline-flex; width: 100%;"><input type="text"
                                                                                     placeholder="휴대폰 번호(-제외)"
                                                                                     name="docPhoneNum"
                                                                                     id="docPhoneNum">
                                <input type="button" value="인증번호 전송" class="button primary" onclick=""
                                       style="border-radius: 0;" id="checkNum"></label>
                            <label style="margin-bottom: -1%;margin-top: -2%;">본인인증</label>
                            <label style="display: inline-flex; width: 100%;"><input type="text"
                                                                                     placeholder="인증번호를 입력해주세요"
                                                                                     name="numStr" id="numStr">
                                <input type="button" value="확인" class="button primary" onclick=""
                                       style="border-radius: 0;" id="checkNumStr"></label>

                            <!--coolSms끝-->
                            <!-- 비밀번호 -->
                            <div class="col-12">
                                <label style="margin-top: -2%;">비밀번호 재설정</label>
                                <label style="display: inline-flex; width: 100%;"><input type="text" placeholder=""
                                                                                         name="docPw" id="docPw">
                                    <input type="button" value="변경" class="button primary" onclick=""
                                           style="border-radius: 0;" id=""></label>
                            </div>
                            <!-- 완료 -->
                            <!--<div class="col-12">
                                <ul class="actions" style="margin: 0px0 0 103px;">
                                    <li id="join" style="width: 100%;">
                                        <input type="submit" value="reset password" id="resetPw"
                                               class="button primary large" onclick=""
                                               style="width: 561px;margin-top: 6%;"/>
                                    </li>
                                </ul>
                            </div>-->
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer"></footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>
<script>
    $("#findId").on("click", function(){
        location.href="/user/docFindId";
    })
    $("#findPw").on("click", function(){
        location.href="/user/docFindPw";
    })


    /*휴대폰 인증*/
    $("#checkNum").on('click', function () {
        $.ajax({
            url: "/user/sendSms",
            type: "post",
            dataType: "json",
            data: {"docPhoneNum": $("#docPhoneNum").val()},
            success: function (numStr) {
                $('#checkNumStr').click(function () {
                    if ($.trim(numStr) == $('#numStr').val()) {
                        alert("인증 성공. 휴대폰인증이 정상적으로 완료되었습니다.");
                    } else {
                        alert("인증 실패. 인증번호를 다시 확인해 주세요.");
                    }
                });
            }
        });
    })
    /*휴대폰인증 끝*/

</script>
</body>
</html>