<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Untitled</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<style>
    a {
        border-bottom: none;
    }

    .content.main{
        width: 50%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
       /* margin-top: 6%;*/
    }
    /* Create an active/current tablink class */

    input{
        border-radius: 0 !important;
    }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header"></header>
    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <div id="login" class="tabcontent" style="margin-top: 7%;">
                    <section class="tiles" style="margin:0 auto; width:61%">
                        <form method="post" action="/user/docLogin" name="loginForm">
                            <div>
                                <div><h3><i class="fas fa-user"> 의사 로그인</i></h3></div>
                                <div style="margin-top: 2%;"><h6>건강상담을 위해서는 로그인이 필요합니다.</h6></div>
                                <div>
                                    <div style="width:100%">
                                        <p style="margin:0;">아이디 </p>
                                        <input type="text" name="docId" id="member_id" placeholder="ID" value=""/>
                                        <br>
                                        <p style="margin:0;">비밀번호</p>
                                        <input type="password" name="docPw" id="member_pw" placeholder="PassWord"
                                               value=""/>
                                        <div style="text-align:center; margin-top:9%">
                                            <a id="findId">아이디 찾기</a><span>&nbsp;|&nbsp;</span><a id="findPw">비밀번호 찾기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <ul class="actions" style="display:block; text-align:center; margin-top:9%">
                                        <li><input type="submit" value="로그인" class="primary"
                                                   style="width:100%; font-size:1em;border-radius: 0;" onclick=""/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>

<footer id="footer"></footer>

</body>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</html>