<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<style>
    .content.main{
        width: 74%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles">
                    <form method="post" action="">
                        <div class="col-12" style="text-align: center;">
                            <h3 style="font-size: 14px">id</h3>
                        </div>
                        <div class="row gtr-uniform">
                            <!-- 아이디 찾기 -->
                            <!-- 이름 -->
                            <div class="col-12">
                                <label style="margin-top: 5%;">이름</label>
                                <input type="text" name="user_name" id="user_name" placeholder="이름" style="font-size: 12px; width: 100%;">
                            </div>

                            <!-- 이메일 -->
                            <div class="col-6 col-12-small">
                                <label>휴대폰 번호</label>
                                <input type="text" name="user_email" id="user_email" placeholder="전화번호" style="font-size: 12px; width: 100%">
                            </div>
                            <!-- 전송 버튼 -->
                            <div class="col-12">
                                <ul class="actions stacked">
                                    <li><input type="button" value="아이디 찾기" id="sendEmail"
                                               class="button primary" onclick="" style="width: 100%; font-size: 12px;"></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- 비밀번호 찾기 -->
                <section id="two">
                    <form method="post" action="">
                        <div class="row gtr-uniform">
                            <div class="col-12" style="text-align: center;">
                                <h3 style="font-size: 14px">비밀번호 찾기</h3>
                            </div>
                            <!-- 휴대폰번호 -->
                            <div class="col-6 col-12-xsmall">
                                <label>휴대폰 번호</label>
                                <input type="text" name="user_phone_no" id="user_phone_no"
                                       placeholder="휴대폰 번호(-제외)" class="phone" style="font-size: 12px; width: 230px;"/>
                                <ul class="actions stacked">
                                    <li><input style="width: 120px;" type="button" value="send code"
                                               class="button primary" onclick=""></li>
                                </ul>
                                <label>인증번호</label>
                                <input type="text" name="phone_no_check" id="phone_no_check"
                                       placeholder="인증번호 입력" class="phone" style="font-size: 12px; width: 230px;"/>
                                <ul class="actions stacked">
                                    <li><input style="width: 120px;" type="button" value="confirm"
                                               class="button primary" onclick=""></li>
                                </ul>
                            </div>

                            <!-- 비밀번호 -->
                            <div class="col-12">
                                <label>RESET PASSWORD</label>
                                <input type="password" name="user_pw" id="user_pw" placeholder="비밀번호 재설정" style="font-size: 12px; width: 350px;"/>
                            </div>
                            <div class="col-12">
                                <label>CONFIRM PASSWORD</label>
                                <input type="password" name="user_pw_check" id="user_pw_check" placeholder="비밀번호 확인" style="font-size: 12px; width: 350px;"/>
                            </div>

                            <!-- 완료 -->
                            <div class="col-12">
                                <ul class="actions">
                                    <li id="join" style="width: 100%;">
                                        <input type="button" value="reset password" id="resetPw" class="button primary large" onclick="" style="width: 350px;"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer"></footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>

</body>
</html>