<!DOCTYPE HTML>
<!--
   Hypothesis by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css"/>
</head>
<style>
    @media (max-width: 2800px){
        .image1{
            display:block;
        }
        /*.image2{*/
        /*    display: none;*/
        /*}*/
        /*.image3{*/
        /*    display: none;*/
        /*}*/
    }
    /*@media (max-width: 1400px){*/
    /*    .image1{*/
    /*        display: none;*/
    /*    }*/
    /*    .image2{*/
    /*        display: block;*/
    /*    }*/
    /*    .image3{*/
    /*        display: none;*/
    /*    }*/
    /*}*/
    /*@media (max-width: 700px){*/
    /*    .image1{*/
    /*        display: none;*/
    /*    }*/
    /*    .image2{*/
    /*        display: none;*/
    /*    }*/
    /*    .image3{*/
    /*        display: block;*/
    /*    }*/
    /*}*/
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header"></header>

    <!-- Section -->
        <div class="guide">
            <div class="image1">
                <img src="/img/QueU.jpeg" width="100%">
            </div>
            </div>


    <!-- Footer -->
    <footer id="footer"></footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>
</body>
</html>