<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아이디찾기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<style>
    .content.main{
        width: 50%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }
    input{
        border-radius: 0 !important;
    }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles">
                    <form method="post" action="/user/userFindId" name="userFindId">
                        <div class="col-12" style="text-align: center;">
                            <h4>아이디 찾기</h4>
                        </div>
                        <div class="row gtr-uniform" style="margin-left: 10%;">
                            <!-- 아이디 찾기 -->
                            <!-- 이름 -->
                            <div class="col-12">
                                <label style="margin-top: 5%;">이름</label>
                                <input type="text" name="userName" id="userName" placeholder="이름" style="font-size: 12px; width: 84%;">
                            </div>

                            <!-- 휴대폰번호 -->
                            <div class="col-6 col-12-small">
                                <label>휴대폰 번호</label>
                                <input type="text" name="userPhoneNum" id="userPhoneNum" placeholder="전화번호" style="font-size: 12px; width: 182%">
                            </div>
                            <span name="find" th:if="${check == 1}">일치하는 정보가 존재하지 않습니다</span>
                            <div name="find" th:if="${check == 0}">
                                <div th:text="|찾으시는 아이디는${id}입니다.|" style="padding-bottom: 8%;"></div>
                                <div style="display: inline-flex;">
                                    <input type="button" id="goUserLogin" value="로그인하러가기" style="margin-left: 5%;box-shadow: none;">
                                    <input type="button" id="goFindUserPw" value="비밀번호 찾기" style="box-shadow: none;">
                                </div>
                            </div>
                            <!-- 전송 버튼 -->
                            <div class="col-12">
                                <ul class="actions stacked">
                                    <li><input  th:style="${check == 0 ? 'display:none;' : 'display:block;width: 86%;'}" type="submit" value="아이디 찾기" id="findId"
                                                class="button primary" onclick="" style="width: 86%;"></li>
                                </ul>
                            </div>



                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer"></footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>
<script>
    $(document).ready(function () {
        let form = document.userFindId;
        if(form.userName.value== null && form.userPhoneNum.value==null){
            form.find.style.display='none';
        }
    });

    $("#goUserLogin").on("click", function(){
        location.href="/user/userLogin";
    })
    $("#goFindUserPw").on("click", function(){
        location.href="/user/userFindPw";
    })

</script>
</body>
</html>