<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<style>
    .content.main {
        width: 74%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }

    .board_title_wrap img {
        width: 60px;
    }

    .board_title_wrap {
        display: flex;
        margin-bottom: 30px;
    }

    .board_title {
        margin-left: 10px;
        font-weight: bold;
        font-size: 20px;
    }

    .board_date {
        margin-bottom: 55px;
    }

    .board_btn_wrap {
        text-align: center;
    }

    .btn_like {
        margin-top: 10px;
        border-radius: 15px;
        width: 30%;
    }

    .btn_report {
        margin-top: 10px;
        border-radius: 15px;
        width: 30%;
    }

    .btn_reple {
        display: inline-block;
        width: 60% !important;
        border-radius: 15px;
    }

    .board_btn_reply {
        width: 60%;
        margin: auto;
        border-radius: 15px;
    }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <!-- Logo -->
        <div class="logo">
            <a href="index"><strong>Hypothesis</strong> <span class="extra">by Pixelarity</span></a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index">Home</a></li>
                <li>
                    <a href="#" class="icon solid fa-angle-down">Dropdown</a>
                    <ul>
                        <li><a href="#">Option One</a></li>
                        <li><a href="#">Option Two</a></li>
                        <li><a href="#">Option Three</a></li>
                        <li>
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="current"><a href="generic">Generic</a></li>
                <li><a href="elements">Elements</a></li>
            </ul>
        </nav>

    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles">
                    <div style="width: 80%;margin: auto">
                        <div class="board_detail_wrap">
                            <div class="board_question">
                                <div class="board_title_wrap">
                                    <img src="/img/q.png" alt="">
                                    <span class="board_title">
                                    밀가루 때문에 증상이 악화 될 수 있나요?
                                    <div class="board_title_detail">
                                        (수원 영통 30대 초반/남 지루성 피부염)
                                    </div>
                                </span>
                                </div>
                                <div class="board_content">
                                    지루성피부염을 앓고 있는데 점점 증상이 심해지고 있는거<br>
                                    같아서 걱정입니다.
                                    <br>
                                    <br>
                                    밀가루 음식을 먹지 말라고 하던데 정말인가요?<br>
                                    그거 때문에 증상이 악화될 수 있나요?
                                </div>
                                <br>
                                <div class="board_date">
                                    2021.10.17
                                </div>
                                <div class="board_btn_reply">
                                    <a href="#" class="button primary fit" style="border-radius: 15px">답변달기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <!-- 답변 반복 돌리는 부분-->
            <br><br>
            <div class="content main">
                <section class="tiles">
                    <div class="board_detail_wrap">
                        <div class="board_question">
                            <div class="board_title_wrap"><!--의사 프로필-->
                                <img src="/img/doc.png" alt=""><!--의사 사진-->
                                <span class="board_title"><!--의사이름-->
                                    이성은 (한의사)
                                    <div class="board_title_detail"><!--병원 주소-->
                                        경기도 수원시 영통구 봉영로 1590 (밀레니엄프라자 3층)(22.0km)
                                    </div>
                                </span>
                            </div>
                            <div class="board_content"><!--내용-->
                                안녕하세요, 헬로닥터 지식iN 상담 한의사 이성은 입니다.
                                <br><br>
                                지루성 피부염 증상이 악회되셔서 문의주셨는데요,
                                <br>
                                걱정이 많으시겠습니다.
                                <br>
                                먼저 지루성 피부염은 피지선이 발달한 부위(두피,얼굴 , 귀, 겨드랑이, 사타구니 등)에서
                                <br>
                                붉은 판상 형태로 생기며, 인설(하얀 부스러기)이 동반되는 질환입니다.

                            </div>
                            <br>
                            <div class="board_date">
                                2021.10.17
                            </div>
                            <div class="board_btn_wrap">
                                <a href="#" class="button primary fit btn_reple">진료예약</a><br>
                                <a href="#" class="button primary btn_like">좋아요</a>
                                <a href="#" class="button btn_report">신고하기</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--반복 돌리는 부분-->

        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h3>Nullam sed gravida</h3>
                <p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem
                    tristique cursus sed magna gravida non.</p>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Lorem aliquam</h4>
                <ul class="links">
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Quis lectus donec</a></li>
                    <li><a href="#">Magna ligula</a></li>
                    <li><a href="#">Sed etiam tristique</a></li>
                    <li><a href="#">Cursus magna</a></li>
                    <li><a href="#">Gravida dolore</a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Magna tempus</h4>
                <ul class="links">
                    <li><a href="#">Feugiat ligula</a></li>
                    <li><a href="#">Vulputate tristique</a></li>
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Cursus sed magna</a></li>
                    <li><a href="#">Sed lectus donec</a></li>
                </ul>
            </section>
            <section>
                <h3>Morbi sed volutpat</h3>
                <p>Sed vulputate sem tristique cursus sed magna gravida non lorem ipsum dolor sit amet.
                <p>
                <p><a href="#" class="major">(000) 000-0000</a></p>
            </section>
        </div>
        <div class="copyright">
            <p>&copy; Untitled. All rights reserved.</p>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>