<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/qna.css">
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <!-- Logo -->
        <div class="logo">
            <a href="index"><strong>Hypothesis</strong> <span class="extra">by Pixelarity</span></a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index">Home</a></li>
                <li>
                    <a href="#" class="icon solid fa-angle-down">Dropdown</a>
                    <ul>
                        <li><a href="#">Option One</a></li>
                        <li><a href="#">Option Two</a></li>
                        <li><a href="#">Option Three</a></li>
                        <li>
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="current"><a href="generic">Generic</a></li>
                <li><a href="elements">Elements</a></li>
            </ul>
        </nav>

    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <form action="" name="searchForm" id="searchForm">
                <fieldset id="searchField">
                    <div class="search">
                        <div style="width: 90%;">
                            <input type="text" name="search" id="search">
                            <ul class="actions">
                                <li style="padding-left: 10%;"><input type="button" value="검색" class="primary"></li>
                            </ul>
                        </div>
                        <p>카테고리</p>
                        <div class="category">
                            <input type="radio" id="joint" name="category">
                            <label for="joint" class="subject"><img src="/img/joints.png" alt="" class="subjectImg">정형외과</label>
                            <input type="radio" id="plastic" name="category">
                            <label for="plastic" class="subject"><img src="/img/diamond.png" alt="" class="subjectImg">성형외과</label>
                            <input type="radio" id="internal" name="category">
                            <label for="internal" class="subject"><img src="/img/lungs.png" alt="" class="subjectImg">내과</label>
                            <input type="radio" id="family" name="category">
                            <label for="family" class="subject"><img src="/img/family_clinic.png" alt="" class="subjectImg">가정의학과</label>
                            <input type="radio" id="kids" name="category">
                            <label for="kids" class="subject"><img src="/img/teen.png" alt="" class="subjectImg">소아과</label>
                            <input type="radio" id="skin" name="category">
                            <label for="skin" class="subject"><img src="/img/pore.png" alt="" class="subjectImg">피부과</label>
                            <input type="radio" id="nerv" name="category">
                            <label for="nerv" class="subject"><img src="/img/cognition.png" alt="" class="subjectImg">신경과</label>
                            <input type="radio" id="urology" name="category">
                            <label for="urology" class="subject"><img src="/img/kidneys.png" alt="" class="subjectImg">비뇨의학과</label>
                            <input type="radio" id="earNoseThroat" name="category">
                            <label for="earNoseThroat" class="subject"><img src="/img/ear.png" alt="" class="subjectImg">이비인후과</label>
                            <input type="radio" id="oriental" name="category">
                            <label for="oriental" class="subject"><img src="/img/medicine.png" alt="" class="subjectImg">한방의학과</label>
                            <input type="radio" id="obstetrics" name="category">
                            <label for="obstetrics" class="subject"><img src="/img/pregnant.png" alt="" class="subjectImg">산부인과</label>
                            <input type="radio" id="dentist" name="category">
                            <label for="dentist" class="subject"><img src="/img/tooth.png" alt="" class="subjectImg">치과</label>
                            <input type="radio" id="neurosurgery" name="category">
                            <label for="neurosurgery" class="subject"><img src="/img/neurology.png" alt="" class="subjectImg">신경외과</label>
                            <input type="radio" id="emergency" name="category">
                            <label for="emergency" class="subject"><img src="/img/ambulance.png" alt="" class="subjectImg">응급의학과</label>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="content main">
                <section class="tiles">
                    <article class="style1">
                        <span class="boardImage" style="border-radius: 25%;"><img src="img/board01.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[정형외과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="boardImage"><img src="img/board02.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[내과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="boardImage"><img src="img/board03.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[소아과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style4">
                        <span class="boardImage"><img src="img/board04.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[피부과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style5">
                        <span class="boardImage"><img src="img/board05.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[산부인과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a></article>
                    <article class="style6">
                        <span class="boardImage"><img src="img/board06.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[정형외과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="boardImage"><img src="img/board07.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[치과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="boardImage"><img src="img/board08.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[가정의학과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style1">
                        <span class="boardImage"><img src="img/board09.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[신경외과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style5">
                        <span class="boardImage"><img src="img/board10.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[응급의학과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style6">
                        <span class="boardImage"><img src="img/board11.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[피부과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style4">
                        <span class="boardImage"><img src="img/board12.jpg" alt=""></span>
                        <a href="javascript:window._pxOpen('generic');"><h4>[피부과]</h4>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                </section>
            </div>
            <fieldset id="rankField">
                <div class="rankDiv">
                    <p>의사 친절도 랭킹</p>
                    <div class="kindnessRanking">
                        <ol>
                            <li>너</li>
                            <li>나</li>
                            <li>우리</li>
                            <li>너나우리</li>
                        </ol>
                    </div>
                    <p>의사 활동 랭킹</p>
                    <div class="activityRanking">
                        <ol>
                            <li>컴퓨터</li>
                            <li>책상</li>
                            <li>연필</li>
                            <li>볼펜</li>
                        </ol>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h3>Nullam sed gravida</h3>
                <p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus sed magna gravida non.</p>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Lorem aliquam</h4>
                <ul class="links">
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Quis lectus donec</a></li>
                    <li><a href="#">Magna ligula</a></li>
                    <li><a href="#">Sed etiam tristique</a></li>
                    <li><a href="#">Cursus magna</a></li>
                    <li><a href="#">Gravida dolore</a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Magna tempus</h4>
                <ul class="links">
                    <li><a href="#">Feugiat ligula</a></li>
                    <li><a href="#">Vulputate tristique</a></li>
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Cursus sed magna</a></li>
                    <li><a href="#">Sed lectus donec</a></li>
                </ul>
            </section>
            <section>
                <h3>Morbi sed volutpat</h3>
                <p>Sed vulputate sem tristique cursus sed magna gravida non lorem ipsum dolor sit amet.<p>
                <p><a href="#" class="major">(000) 000-0000</a></p>
            </section>
        </div>
        <div class="copyright">
            <p>&copy; Untitled. All rights reserved.</p>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>