<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Logo -->
<div class="logo">
    <a href="index"><strong>Hello</strong> <span class="extra">Doctor</span></a>
</div>
<!-- Nav -->
<nav id="nav">
    <ul>
        <li>
            <a href="#" class="icon solid fa-angle-down">메뉴</a>
            <ul>
                <li>
                    <a href="#" class="subject" style="float: left;"><img src="/img/note.png" alt="" class="subjectImg">지식 iN</a>
                    <a href="#" class="subject"><img src="/img/location.png" alt="" class="subjectImg">병원 찾기</a>
                </li>
                <li>
                    <a href="#" class="subject" style="float: left;"><img src="/img/megaphone.png" alt="" class="subjectImg">이용안내</a>
                    <a href="#" class="subject"><img src="/img/electricity.png" alt="" class="subjectImg">의학상식</a>
                </li>
                <li>
                    <!--<a href="#" class="subject" style="float: left;"><img src="/img/membership.png" alt="" class="subjectImg">멤버십</a>-->
                    <a href="#" class="subject" style="float: left;"><img src="/img/volunteer.png" alt="" class="subjectImg">의료봉사</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon solid fa-angle-down">카테고리</a>
            <ul>
                <li>
                    <a href="#" class="subject" style="float: left;"><img src="/img/joints.png" alt="" class="subjectImg">정형외과</a>
                    <a href="#" class="subject" style="float: left;"><img src="/img/diamond.png" alt="" class="subjectImg">성형외과</a>
                    <a href="#" class="subject"><img src="/img/lungs.png" alt="" class="subjectImg">내과</a>
                </li>
                <li>
                    <a href="#" class="subject" style="float: left;"><img src="/img/family_clinic.png" alt="" class="subjectImg">가정의학과</a>
                    <a href="#" class="subject" style="float: left;"><img src="/img/teen.png" alt="" class="subjectImg">소아과</a>
                    <a href="#" class="subject"><img src="/img/pore.png" alt="" class="subjectImg">피부과</a>
                </li>
                <li>
                    <a href="#" class="subject" style="float: left;"><img src="/img/cognition.png" alt="" class="subjectImg">신경과</a>
                    <a href="#" class="subject" style="float: left;"><img src="/img/kidneys.png" alt="" class="subjectImg">비뇨의학과</a>
                    <a href="#" class="subject"><img src="/img/ear.png" alt="" class="subjectImg">이비인후과</a>
                </li>
                <li>
                    <a href="#" class="subject" style="float: left;"><img src="/img/medicine.png" alt="" class="subjectImg">한방의학과</a>
                    <a href="#" class="subject" style="float: left;"><img src="/img/pregnant.png" alt="" class="subjectImg">산부인과</a>
                    <a href="#" class="subject"><img src="/img/tooth.png" alt="" class="subjectImg">치과</a>
                </li>
                <li>
                    <a href="#" class="subject" style="float: left;"><img src="/img/neurology.png" alt="" class="subjectImg">신경외과</a>
                    <a href="#" class="subject" style="float: left;"><img src="/img/ambulance.png" alt="" class="subjectImg">응급의학과</a>
                </li>
            </ul>
        </li>
        <li><a href="#">로그인</a></li>
    </ul>
</nav>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
</html>