<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layer_poc" style="top: 373.5px;">
    <div class="poc_top">
        <h1 class="poc_title">스트리밍 플러스란?</h1>
        <p class="poc_text">온라인과 오프라인에서 무제한 듣기가 가능한 이용권입니다. 오프라인 파일의 저장 및 재생은 인증된 모바일 디바이스 1대에서 가능하며, 오프라인 재생 기능을 통해 데이터 연결 없이 음악을 감상할 수 있습니다.</p>
    </div>
    <div class="poc_cont">
        <p class="table_title">디바이스 별 이용 가능 서비스</p>
        <table>
            <thead>
            <tr>
                <th scope="col" class="poc">기기별</th>
                <th scope="col" class="poc_tpye1">무제한 듣기</th>
                <th scope="col" class="poc_tpye2">오프라인 재생</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="poc">PC</th>
                <td class="poc_tpye1">○</td>
                <td class="poc_tpye2"></td>
            </tr>
            <tr>
                <th scope="row" class="poc">모바일 앱</th>
                <td class="poc_tpye1">○</td>
                <td class="poc_tpye2">○</td>
            </tr>
            <tr>
                <th scope="row" class="poc">아이패드 앱</th>
                <td class="poc_tpye1">○</td>
                <td class="poc_tpye2">○</td>
            </tr>
            <tr>
                <th scope="row" class="poc point_c">카카오톡</th>
                <td class="poc_tpye1">○</td>
                <td class="poc_tpye2"></td>
            </tr>
            <tr>
                <th scope="row" class="poc poc">AI 스피커</th>
                <td class="poc_tpye1">○</td>
                <td class="poc_tpye2"></td>
            </tr>
            <tr>
                <th scope="row" class="poc point_c">카카오 미니</th>
                <td class="poc_tpye1">○</td>
                <td class="poc_tpye2"></td>
            </tr>
            <tr>
                <th scope="row" class="poc point_c">카카오 내비</th>
                <td class="poc_tpye1">○</td>
                <td class="poc_tpye2"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="#" class="btn_close">팝업 닫기</a>
</div>
</body>
</html>