<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/qna.css">
</head>
<style>
    .content.main{
        width: 74%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }
    table{
        border:1px solid lightgray;
        height: 37px;
        /*text-align: center;*/
    }
    td{
        border: 1px solid lightgray;
        height: 37px;
        /*text-align: center;*/
    }
   table th{
        border: 1px solid lightgray;
        font-size: 0.9rem ;
        font-weight: 400;
        padding: 0 0.75rem 0rem 0.75rem;
        text-align: left;
        height: 0px;
    }

    hr{
        color:#358bca;
        border-color:#358bca;
        height: 2px;
        background-color:#358bca;
    }

</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles" style="margin: auto;">
                    <div class="inner">

                        <!-- Elements -->
                        <header class="major" style="text-align: center;">
                            <h3 style="margin-bottom: -3%;">의료봉사 공고</h3>
                            <hr>
                        </header>
                        <!--href에 알맞는 URL 설정-->
                      <!-- <h3><a href="" class="button small">글 등록</a></h3>-->
                        <div class="table-wrapper">
                            <table style="font-size: 11px;">
                                <thead>
                                <tr class="tHead">
                                    <!--<th class="bno">번호</th>-->
                                    <th class="title">제목</th>
                                    <th class="writer">작성자</th>
                                    <th class="personnel">모집인원</th>
                                    <th class="regDate">작성일</th>
                                </tr>
                                </thead>
                                <tbody>

                                    <tr class="tBody">
                                        <td class="title">[국내의료봉사]해남 무료진료<a id="goRead"></a></td>
                                        <td class="writer" >전진주</td>
                                        <td class="personnel" >5/15</td>
                                        <td class="regDate">2021-10-16</td>
                                    </tr>

                                </tbody>
                            </table>

                            <div>
                                <div class="big-width" style="text-align: center">
                                    <a class="changePage"> &lt;</a>
                                    <th>
                                        <a class="changePage"></a>
                                    </th>
                                    <a class="changePage">&gt;</a>
                                </div>

                                <form action="" name="pageForm">
                                    <input type="hidden" name="pageNum">
                                    <input type="hidden" name="amount">
                                    <input type="hidden" name="type">
                                    <input type="hidden" name="keyword">
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">

    </footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fix.js"></script>

</body>
</html>