<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/qna.css">
</head>
<style>
    .content.main{
        width: 74%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }

    .pageWrap{
        padding-bottom: 2%;
    }

    a {
        border-bottom: none;
    }

</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <!-- Logo -->
        <div class="logo">
            <a href="index"><strong>Hypothesis</strong> <span class="extra">by Pixelarity</span></a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index">Home</a></li>
                <li>
                    <a href="#" class="icon solid fa-angle-down">Dropdown</a>
                    <ul>
                        <li><a href="#">Option One</a></li>
                        <li><a href="#">Option Two</a></li>
                        <li><a href="#">Option Three</a></li>
                        <li>
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="current"><a href="generic">Generic</a></li>
                <li><a href="elements">Elements</a></li>
            </ul>
        </nav>

    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles" style="margin: auto;">
                    <div class="inner">

                        <!-- Elements -->
                        <header class="major" style="text-align: center;">
                            <h2>의료봉사 공고</h2>
                        </header>
                        <!--href에 알맞는 URL 설정-->
                      <!-- <h3><a href="" class="button small">글 등록</a></h3>-->
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr class="tHead">
                                    <th class="bno">번호</th>
                                    <th class="title">제목</th>
                                    <th class="writer">작성자</th>
                                    <th class="personnel">모집인원</th>
                                    <th class="regDate">작성일</th>
                                </tr>
                                </thead>
                                <tbody>

                                    <tr class="tBody">
                                        <td class="bno" >1</td>
                                        <td class="title">[국내의료봉사]해남 땅끝마을 무료진료<a id="goRead"></a></td>
                                        <td class="writer" >전진주</td>
                                        <td class="personnel" >5/15</td>
                                        <td class="regDate">2021-10-16</td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                            <div>
<!--                                <div class="big-width" style="text-align: center">-->
<!--                                    <a class="changePage"> &lt;</a>-->
<!--                                    <th>-->
<!--                                        <a class="changePage"></a>-->
<!--                                    </th>-->
<!--                                    <a class="changePage">&gt;</a>-->
<!--                                </div>-->

                                <form action="" name="pageForm">
                                    <input type="hidden" name="pageNum">
                                    <input type="hidden" name="amount">
                                    <input type="hidden" name="type">
                                    <input type="hidden" name="keyword">
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="pageWrap">
            <div class="big-width" style="text-align: center">
                <a class="changePage"><code>&lt;</code></a>
                <code>1</code>
                <a class="changePage" href="javascript:void(0)"><code>2</code></a>
                <a class="changePage" href="javascript:void(0)"><code>3</code></a>
                <a class="changePage" href="javascript:void(0)"><code>4</code></a>
                <a class="changePage" href="javascript:void(0)"><code>5</code></a>
                <a class="changePage" href="javascript:void(0)"><code>6</code></a>
                <a class="changePage" href="javascript:void(0)"><code>7</code></a>
                <a class="changePage" href="javascript:void(0)"><code>8</code></a>
                <a class="changePage" href="javascript:void(0)"><code>9</code></a>
                <a class="changePage" href="javascript:void(0)"><code>10</code></a>
                <a class="changePage"><code>&gt;</code></a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h3>Nullam sed gravida</h3>
                <p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus sed magna gravida non.</p>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Lorem aliquam</h4>
                <ul class="links">
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Quis lectus donec</a></li>
                    <li><a href="#">Magna ligula</a></li>
                    <li><a href="#">Sed etiam tristique</a></li>
                    <li><a href="#">Cursus magna</a></li>
                    <li><a href="#">Gravida dolore</a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Magna tempus</h4>
                <ul class="links">
                    <li><a href="#">Feugiat ligula</a></li>
                    <li><a href="#">Vulputate tristique</a></li>
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Cursus sed magna</a></li>
                    <li><a href="#">Sed lectus donec</a></li>
                </ul>
            </section>
            <section>
                <h3>Morbi sed volutpat</h3>
                <p>Sed vulputate sem tristique cursus sed magna gravida non lorem ipsum dolor sit amet.<p>
                <p><a href="#" class="major">(000) 000-0000</a></p>
            </section>
        </div>
        <div class="copyright">
            <p>&copy; Untitled. All rights reserved.</p>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>