<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<style>
    .content.main {
        width: 90%;
        margin: auto;
        border-radius: 25px;
        padding: 3rem 4rem 3rem 4rem !important;
    }
    #wrapper > .main > .inner > .content {
        min-height: 550px;
    }

    .tab {
        width: 17%;
    }

    .tabcontent {
        display: block;
        width: 80%;
        padding-left: 5%;
    }

    .tab button {
        box-shadow: none !important;
        border: none;
        border-radius: 0;
        width: 100%;
        font-size: 1rem !important;
        color: #333333 !important;
    }
    .tab button.active {
        color: #358BC9 !important;

        background-color: white;

    }


    /* 강사님 css */
    hr {
        margin:0;
    }

    hr.dark{
        border-bottom-color: #000;
    }

    div.area {
        margin-bottom: 1%;
    }

    input.phone   {
        width: 80px;
        height: 30px;
        display: inline;
    }

    div.info {
        font-size: 0.9em
    ;
    }
    div.info label {
        margin:0;
        display:inline-block;
        width:200px;
    }

    p#checkPhone {
        display: inline-block;
        margin: 0 0 0 2%;
        font-size: 0.7em;
    }

    div.info div div {
        vertical-align: middle;
        display: inline-block;
        line-height: 30px;
        padding: 7px 0;
        width: 350px;
    }

    div.info input[type='text'], div.info input[type='password']{
        border-color: #bfb9b95c;
        font-size: 0.8em;
    }


    div.info input[type='text']:not(.phone), div.info input[type='password'] {
        height: 30px;
        width: 260px;
    }

    .profile {
        font-weight: bold;
    }

    input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
        font-size: 0.9rem;
        height: 2.0625rem;
        line-height: 2.0625rem;
        border-radius: 0;
        padding: 0 1.25rem;
        box-shadow: none;
    }

    .div2 {
        display: flex !important;
    }

    input[type="text"] {
        border-radius: 0;
    }

    .box {
        border-color: #358bca;
    }
    .ulBox ul li::marker {
        font-family: 'Font Awesome 5 Free';
        content: "\f138";
        position: absolute;
        left : 1em;
        color: #358bca;
    }

    a {
        border: none;
    }

    table th {
        font-size: 0.9rem;
        font-weight: 400;
        padding: 0.5rem 0.75rem;
        text-align: left;
        border-bottom: 2px solid lightsteelblue;
        border-top: 2px solid lightsteelblue;
    }

    table td {
        background-color: white;
        padding: 0.5rem 0.75rem;
    }

    .th1 {
        width: 20%;
    }

    .th3 {
        width: 20%;
    }

    .th4 {
        width: 12%;
    }

    code {
        background: white;
        border-color: white;
    }
</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <!-- Logo -->
        <div class="logo">
            <a href="index"><strong>Hello</strong> <span class="extra">Doctor</span></a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="#" class="icon solid fa-angle-down">메뉴</a>
                    <ul>
                        <li>
                            <a href="#" class="subject" style="float: left;"><img src="/img/note.png" alt=""
                                                                                  class="subjectImg">지식 iN</a>
                            <a href="#" class="subject"><img src="/img/location.png" alt="" class="subjectImg">병원 찾기</a>
                        </li>
                        <li>
                            <a href="#" class="subject" style="float: left;"><img src="/img/megaphone.png" alt=""
                                                                                  class="subjectImg">이용안내</a>
                            <a href="#" class="subject"><img src="/img/electricity.png" alt=""
                                                             class="subjectImg">의학상식</a>
                        </li>
                        <li>
                            <!--<a href="#" class="subject" style="float: left;"><img src="/img/membership.png" alt="" class="subjectImg">멤버십</a>-->
                            <a href="#" class="subject" style="float: left;"><img src="/img/volunteer.png" alt=""
                                                                                  class="subjectImg">의료봉사</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="icon solid fa-angle-down">카테고리</a>
                    <ul>
                        <li>
                            <a href="#" class="subject" style="float: left;"><img src="/img/joints.png" alt=""
                                                                                  class="subjectImg">정형외과</a>
                            <a href="#" class="subject" style="float: left;"><img src="/img/diamond.png" alt=""
                                                                                  class="subjectImg">성형외과</a>
                            <a href="#" class="subject"><img src="/img/lungs.png" alt="" class="subjectImg">내과</a>
                        </li>
                        <li>
                            <a href="#" class="subject" style="float: left;"><img src="/img/family_clinic.png" alt=""
                                                                                  class="subjectImg">가정의학과</a>
                            <a href="#" class="subject" style="float: left;"><img src="/img/teen.png" alt=""
                                                                                  class="subjectImg">소아과</a>
                            <a href="#" class="subject"><img src="/img/pore.png" alt="" class="subjectImg">피부과</a>
                        </li>
                        <li>
                            <a href="#" class="subject" style="float: left;"><img src="/img/cognition.png" alt=""
                                                                                  class="subjectImg">신경과</a>
                            <a href="#" class="subject" style="float: left;"><img src="/img/kidneys.png" alt=""
                                                                                  class="subjectImg">비뇨의학과</a>
                            <a href="#" class="subject"><img src="/img/ear.png" alt="" class="subjectImg">이비인후과</a>
                        </li>
                        <li>
                            <a href="#" class="subject" style="float: left;"><img src="/img/medicine.png" alt=""
                                                                                  class="subjectImg">한방의학과</a>
                            <a href="#" class="subject" style="float: left;"><img src="/img/pregnant.png" alt=""
                                                                                  class="subjectImg">산부인과</a>
                            <a href="#" class="subject"><img src="/img/tooth.png" alt="" class="subjectImg">치과</a>
                        </li>
                        <li>
                            <a href="#" class="subject" style="float: left;"><img src="/img/neurology.png" alt=""
                                                                                  class="subjectImg">신경외과</a>
                            <a href="#" class="subject" style="float: left;"><img src="/img/ambulance.png" alt=""
                                                                                  class="subjectImg">응급의학과</a>
                            <!--<a href="#" class="subject" style="float: left;"><img src="/img/note.png" alt="" class="subjectImg">지식 iN</a>-->
                        </li>
                        <!--<li>
                                  <a href="#">Submenu</a>
                                  <ul>
                                      <li><a href="#">Option One</a></li>
                                      <li><a href="#">Option Two</a></li>
                                      <li><a href="#">Option Three</a></li>
                                      <li><a href="#">Option Four</a></li>
                                  </ul>
                              </li>-->
                    </ul>
                </li>
                <li><a href="#">로그인</a></li>
                <!--<li><a href="#"></a></li>-->
            </ul>
        </nav>
    </header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles" style="display: flex">


                    <!-- Tab links -->
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'myOne')" id="defaultOpen">내 정보</button>
                        <button class="tablinks" onclick="openCity(event, 'myTwo')">질문 내역</button>
                        <button class="tablinks" onclick="openCity(event, 'myThree')">진료 예약</button>
                    </div>

                    <!-- Tab content -->
                    <div id="myOne" class="tabcontent">
                        <div>
                            <fieldset class="first">
                                <div class='area'>
                                    <h3 style="margin-bottom: 1%;">회원정보</h3>
                                    <div style="display: flex; justify-content: space-between;">
                                        <p style='font-size: 0.6em; margin-bottom: 1%; padding-top: 2%;'>
                                            <span style='color:red;'>*</span>
                                            표시는 필수입력 항목 이오니 반드시 입력해 주세요.
                                        </p>
                                        <div>
                                            <button id="modifyProfile" class="button small" style="float: right;">수정하기</button>
                                        </div>
                                    </div>
                                    <div class='info'>
                                        <hr class='dark'>
                                        <div>
                                            <label class="profile">이름</label>
                                            <div>
                                                홍길동
                                            </div>
                                        </div>
                                        <hr>
                                        <div>
                                            <label class="profile">휴대폰 번호<span style='color:red; font-size:1em;'> *</span></label>
                                            <div>
                                                010
                                                - 1234
                                                - 5678
                                            </div>
                                        </div>
                                        <hr>
                                        <div>
                                            <label class="profile">e-mail<span style='color:red; font-size:1em;'> *</span></label>
                                            <div>
                                                abcd123@gmail.com
                                            </div>
                                        </div>
                                        <hr class='dark'>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- 수정 버튼 누르면 나오는 곳 -->
                            <fieldset class="first" style="display: none;">
                                <!--<form method="post" action="#">-->
                                <div class='area'>
                                    <h3 style="margin-bottom: 1%;">회원정보</h3>
                                    <div style="display: flex; justify-content: space-between;">
                                        <p style='font-size: 0.6em; margin-bottom: 1%; padding-top: 2%;'>
                                            <span style='color:red;'>*</span>
                                            표시는 필수입력 항목 이오니 반드시 입력해 주세요.
                                        </p>
                                    </div>
                                    <div class='info'>
                                        <hr class='dark'>
                                        <div>
                                            <label class="profile">이름</label>
                                            <div>
                                                홍길동
                                            </div>
                                        </div>
                                        <hr>
                                        <div>
                                            <label for="docPhoneNum" class="profile">휴대폰 번호<span style='color:red; font-size:1em;'> *</span></label>
                                            <div>
                                                <input class='phone' type='text' id='docPhoneNum' name='docPhoneNum' readonly>
                                                - <input class='phone' type='text' id='docPhoneNum2' name='docPhoneNum2' readonly>
                                                - <input class='phone' type='text' id='docPhoneNum3' name='docPhoneNum3' readonly>
                                            </div>
                                        </div>
                                        <hr>
                                        <div>
                                            <label for="docEmail" class="profile">e-mail<span style='color:red; font-size:1em;'> *</span></label>
                                            <div>
                                                <input type='text' id='docEmail' name='docEmail'>
                                            </div>
                                        </div>
                                        <hr class='dark'>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: center">
                                    <a href="#" class="button small" style="margin-right: 5%; width: 80px; padding: initial;">변경하기</a>
                                    <button id="back" class="button small" style="margin-right: 5%; width: 80px;">취소</button>
                                </div>

                                <!--</form>-->
                            </fieldset>
                        </div>
                    </div>

                    <div id="myTwo" class="tabcontent">
                        <h3 style="text-align: center">질문 내역</h3>
                        <table>
                            <thead>
                            <tr class="">
                                <th class="th1"><strong>진료과목</strong></th>
                                <th class="th2"><strong>제목</strong></th>
                                <th class="th3"><strong>날짜</strong></th>
                                <th class="th4"><strong>조회수</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="">
                                <td class="">[정형외과]</td>
                                <td class=""><a>발목 삐었어요</a></td>
                                <td class="">2222.2.22</td>
                                <td class="">12345</td>
                            </tr>
                            <tr class="">
                                <td class="">[정형외과]</td>
                                <td class=""><a>발목 삐었어요</a></td>
                                <td class="">2222.2.22</td>
                                <td class="">12345</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pageWrap">
                            <div class="big-width" style="text-align: center">
                                <a class="changePage"><code>&lt;</code></a>
                                <code>1</code>
                                <a class="changePage" href="javascript:void(0)"><code>2</code></a>
                                <a class="changePage"><code>&gt;</code></a>
                            </div>
                        </div>
                    </div>

                    <div id="myThree" class="tabcontent">
                        <h3 style="text-align: center">진료 예약</h3>
                        <table>
                            <thead>
                            <tr class="">
                                <th class=""><strong>이름</strong></th>
                                <th class=""><strong>전화번호</strong></th>
                                <th class=""><strong>진료과목</strong></th>
                                <th class=""><strong>날짜</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="">
                                <td class="">신짱구</td>
                                <td class="">010-1234-5678</td>
                                <td class="">피부과</td>
                                <td class="">2222.12.22</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="big-width" style="text-align: center">
                            <a class="changePage"><code>&lt;</code></a>
                            <code>1</code>
                            <a class="changePage" href="javascript:void(0)"><code>2</code></a>
                            <a class="changePage"><code>&gt;</code></a>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <p style="text-align: center; font-weight: bold;">
                    <a style="border-bottom: none;" href="#">이용안내</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="border-bottom: none;" href="#">공지사항</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="border-bottom: none;" href="#">이용약관</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="border-bottom: none;" href="#">개인정보취급방침</a>&nbsp;&nbsp;&nbsp;&nbsp; <span>|</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="border-bottom: none;" href="#">위치기반이용약관</a>
                </p>
                <p style="text-align: center; margin-bottom: 1%;">
                    사업자번호&nbsp;&nbsp;210&nbsp;<span>-</span>10&nbsp;<span>-</span>212020&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><strong>|</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    서울특별시&nbsp;강남구&nbsp;역삼동&nbsp;125, &nbsp;20층&nbsp;2001호&nbsp;(역삼1동)
                </p>
                <p style="text-align: center;">
                    헬로닥터 주식회사, 임재훈 대표&nbsp;&nbsp; <span><strong>/</strong></span>&nbsp;&nbsp;
                    개인정보보호책임자 김동진 이사
                </p>
            </section>
        </div>
        <div class="copyright" style="color: #7a7a7a !important;">
            <!--<p>Copyright &nbsp; &copy; &nbsp; Hello Doctor. &nbsp;&nbsp; All rights reserved</p>-->
            <p>Copyright &copy; HelloDoctor Corp. All rights reserved.</p>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
<script>
    document.getElementById("defaultOpen").click();

    function openCity(evt, cityName) {
        // Declare all variables
        let i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById("modifyProfile").addEventListener("click", function () {
        let target = document.getElementsByClassName("first");

        target[0].style.display = "none";
        target[1].style.display = "block";
    })

    document.getElementById("back").addEventListener("click", function () {
        let target = document.getElementsByClassName("first");
        target[0].style.display = "block";
        target[1].style.display = "none";
    })



    let i = 0;
    function addInput(){

        document.getElementsByClassName('td6')[0].innerHTML+="<div class='div2' id='text"+i+"'>" +
            "            <input type='text' name='' value='' placeholder='약력'>" +
            "            <a class='button small' onclick='fn1(" + i + ")'" +
            "                style='width: 80px; margin: auto;'>삭제</a>" +
            "        </div>";

        i++;
    }

    function fn1(i) {
        $('#text'+i).remove();
    }
</script>
</html>