<!DOCTYPE HTML>
<!--
	Hypothesis by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/fix.js"></script>
</head>
<style>
    .content.main{
        width: 90%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
    }

    .info{
        border-bottom: solid 1px #358bca;
        background: white;
        padding: 3% 10% 0% 10%;
        border-radius: 0;
        margin-bottom: 25px;
    }
    .docPic{
        width: 170px;
    }

    .imgDiv{
        float: left;
        padding-right: 5%;
    }

    .doctor{
        list-style: none;
    }

    a.button{
        width: 35%;
        border-radius: 0;
    }

    .select{
        text-align: center;
        padding: 0% 5% 5% 5%;
        position: relative;
        right: -4px;
    }

    .docInfo{
        display: inline-block;
        width: 15%;
    }

</style>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header"></header>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <section class="tiles">
                    <h3 style="text-align: center;"><span>아주대학교 병원</span> 의료진</h3>
                    <fieldset class="info">
                        <div class="imgDiv">
                            <img src="/img/ex.png" alt="no image" class="docPic">
                        </div>
                        <div>
                            <ul class="doctor">
                                <li><strong><div class="docInfo">이름  :</div></strong> 김동진</li>
                                <li><strong><div class="docInfo">병원 이름  :</div></strong>아주대학교</li>
                                <li><strong><div class="docInfo">병원 주소  :</div></strong>수원 영통구 영통동</li>
                                <li><strong><div class="docInfo">전공  :</div></strong> 소아과</li>
                                <li><strong><div class="docInfo">전화번호  :</div></strong> 010-2988-5207</li>
                                <li><strong><div class="docInfo">이메일  :</div></strong> alalal2234@gmail.com</li>
                            </ul>
                        </div>
                        <div class="select">
                            <a href="javascript:void(0)" class="button  icon solid fa-medkit" style="box-shadow: none;">예약하기</a>
                            <a href="javascript:void(0)" class="button icon solid fa-backspace" style="box-shadow: none;color: darkslategray !important;">돌아가기</a>
                        </div>
                    </fieldset>

                    <fieldset class="info">
                        <div class="imgDiv">
                            <img src="/img/ex.png" alt="no image" class="docPic">
                        </div>
                        <div>
                            <ul class="doctor">
                                <li><strong><div class="docInfo">이름  :</div></strong> 민석홍</li>
                                <li><strong><div class="docInfo">병원 이름  :</div></strong>아주대학교</li>
                                <li><strong><div class="docInfo">병원 주소  :</div></strong>서울 역삼동</li>
                                <li><strong><div class="docInfo">전공  :</div></strong> 소아과</li>
                                <li><strong><div class="docInfo">전화번호  :</div></strong> 010-2988-5207</li>
                                <li><strong><div class="docInfo">이메일  :</div></strong> alalal2234@gmail.com</li>
                            </ul>
                        </div>
                        <div class="select">
                            <a href="javascript:void(0)" class="button  icon solid fa-medkit" style="box-shadow: none;">예약하기</a>
                            <a href="javascript:void(0)" class="button icon solid fa-backspace" style="box-shadow: none;color: darkslategray !important;">돌아가기</a>
                        </div>
                    </fieldset>

                    <fieldset class="info">
                        <div class="imgDiv">
                            <img src="/img/ex.png" alt="no image" class="docPic">
                        </div>
                        <div>
                            <ul class="doctor">
                                <li><strong><div class="docInfo">이름  :</div></strong> 김동진</li>
                                <li><strong><div class="docInfo">병원 이름  :</div></strong>아주대학교</li>
                                <li><strong><div class="docInfo">병원 주소  :</div></strong>수원 영통구 영통동</li>
                                <li><strong><div class="docInfo">전공  :</div></strong> 소아과</li>
                                <li><strong><div class="docInfo">전화번호  :</div></strong> 010-2988-5207</li>
                                <li><strong><div class="docInfo">이메일  :</div></strong> alalal2234@gmail.com</li>
                            </ul>
                        </div>
                        <div class="select">
                            <a href="javascript:void(0)" class="button  icon solid fa-medkit" style="box-shadow: none;">예약하기</a>
                            <a href="javascript:void(0)" class="button icon solid fa-backspace" style="box-shadow: none;color: darkslategray !important;">돌아가기</a>
                        </div>
                    </fieldset>

                    <fieldset class="info">
                        <div class="imgDiv">
                            <img src="/img/ex.png" alt="no image" class="docPic">
                        </div>
                        <div>
                            <ul class="doctor">
                                <li><strong><div class="docInfo">이름  :</div></strong> 김동진</li>
                                <li><strong><div class="docInfo">병원 이름  :</div></strong>아주대학교</li>
                                <li><strong><div class="docInfo">병원 주소  :</div></strong>수원 영통구 영통동</li>
                                <li><strong><div class="docInfo">전공  :</div></strong> 소아과</li>
                                <li><strong><div class="docInfo">전화번호  :</div></strong> 010-2988-5207</li>
                                <li><strong><div class="docInfo">이메일  :</div></strong> alalal2234@gmail.com</li>
                            </ul>
                        </div>
                        <div class="select">
                            <a href="javascript:void(0)" class="button  icon solid fa-medkit" style="box-shadow: none;">예약하기</a>
                            <a href="javascript:void(0)" class="button icon solid fa-backspace" style="box-shadow: none;color: darkslategray !important;">돌아가기</a>
                        </div>
                    </fieldset>



                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer"></footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>