<!DOCTYPE HTML>
<!--
   Hypothesis by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/qna.css">
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <!-- Logo -->
        <div class="logo">
            <a href="index"><strong>Hypothesis</strong> <span class="extra">by Pixelarity</span></a>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="index">Home</a></li>
                <li>
                    <a href="#" class="icon solid fa-angle-down">Dropdown</a>
                    <ul>
                        <li><a href="#">Option One</a></li>
                        <li><a href="#">Option Two</a></li>
                        <li><a href="#">Option Three</a></li>
                        <li>
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="current"><a href="generic">Generic</a></li>
                <li><a href="elements">Elements</a></li>
            </ul>
        </nav>
    </header>
    <div class="tab">
        <button class="tablinks" onclick="openLogin(event, 'login')" id="defaultOpen">로그인</button>
        <button class="tablinks" onclick="openLogin(event, 'join')">회원가입</button>
    </div>

    <!-- Section -->
    <section id="one" class="main alt">
        <div class="inner alt">
            <div class="content main">
                <div id="login" class="tabcontent" style="margin-top: 7%;">
                    <section class="tiles" style="margin-left: 28px;">
                        <form method="post" action="" name="loginForm">
                            <div style="display:flex; justify-content:space-evenly;padding: 24px;">
                                <div style="width: 18em;">
                                    <div><h3><i class="fas fa-user">  회원 로그인</i></h3></div><div><h6>건강상담을 위해서는 로그인이 필요합니다.</h6></div>
                                    <div>
                                        <div  style="width:100%">
                                            <p style="margin:0;">아이디 </p>
                                            <input type="text" name="member_id" id="member_id"placeholder="ID" value=""/>
                                            <br>
                                            <p style="margin:0;">비밀번호</p>
                                            <input type="password" name="member_pw" id="member_pw" placeholder="PassWord" value=""/>
                                            <div style="text-align:center; margin-top:9%">
                                                <a href="#">아이디 찾기</a><span>&nbsp;|&nbsp;</span><a href="#">비밀번호 찾기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions" style="display:block; text-align:center; margin-top:9%">
                                            <li><input type="button" value="로그인" class="primary" style="width:100%; font-size:1em;" onclick="check()"/></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form method="post" action="" name="loginForm">
                            <div style="display:flex; justify-content:space-evenly;padding: 24px; border-left: solid lightsteelblue;">
                                <div style="width: 18em;">
                                    <div><h3><i class="fas fa-user-md">  의사회원 로그인</i></h3></div><div><h6>회원들의 건강상담을 위해서는 로그인이 필요합니다.</h6></div>
                                    <div>
                                        <div style="width:100%">
                                            <p style="margin:0;">아이디 </p>
                                            <input type="text" name="member_id" id="member_id" placeholder="ID" value=""/>
                                            <br>
                                            <p style="margin:0;">비밀번호</p>
                                            <input type="password" name="member_pw" id="member_pw" placeholder="PassWord"value=""/>
                                            <div style="text-align:center; margin-top:9%">
                                                <a href="#">아이디 찾기</a><span>&nbsp;|&nbsp;</span><a href="#">비밀번호 찾기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions" style="display:block; text-align:center; margin-top:9%">
                                            <li><input type="button" value="로그인" class="primary" style="width:100%; font-size:1em;" onclick="check()"/></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div id="join" class="tabcontent">
                    <h3>회원가입</h3>
                    <p>Paris is the capital of France.</p>
                </div>

            </div>
        </div>
    </section>
            <img src=""
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h3>Nullam sed gravida</h3>
                <p>Phasellus ultrices sed nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus sed magna gravida non.</p>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Lorem aliquam</h4>
                <ul class="links">
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Quis lectus donec</a></li>
                    <li><a href="#">Magna ligula</a></li>
                    <li><a href="#">Sed etiam tristique</a></li>
                    <li><a href="#">Cursus magna</a></li>
                    <li><a href="#">Gravida dolore</a></li>
                </ul>
            </section>
            <section class="narrow">
                <h4>Magna tempus</h4>
                <ul class="links">
                    <li><a href="#">Feugiat ligula</a></li>
                    <li><a href="#">Vulputate tristique</a></li>
                    <li><a href="#">Ultrices nulla</a></li>
                    <li><a href="#">Cursus sed magna</a></li>
                    <li><a href="#">Sed lectus donec</a></li>
                </ul>
            </section>
            <section>
                <h3>Morbi sed volutpat</h3>
                <p>Sed vulputate sem tristique cursus sed magna gravida non lorem ipsum dolor sit amet.<p>
                <p><a href="#" class="major">(000) 000-0000</a></p>
            </section>
        </div>
        <div class="copyright">
            <p>&copy; Untitled. All rights reserved.</p>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.selectorr.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
    function openLogin(evt, loginName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(loginName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>
</body>
<style>
    .content.main{
        width: 74%;
        border-radius: 25px;
        padding: 2%;
        margin: auto;
        margin-top: 6%;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        height: 4em;
        text-align: center;
        position: fixed;
        width: 100%;
    }




    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }
    .tab button {
        box-shadow: none;
        margin-top: 1%;
    }
</style>
</html>